<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>This is your stupid coach</h1>

    <%= yield %>

  <p>Your answer was not answered? Well it's a stupid coach! Ugghhhh!!!</p>
  </body>
</html>
